<h1>Your Order</h1>

<h3>Order Number: <%= @order.id %></h3>
<h3>Customer: <%= @order.user.email %></h3>

<% @ordered_novelties.each do |item| %>

  <h3>Product: <%= item.name %></h3>
  <h3>Quantity: <%= item.quantity %></h3>
  <h3>Price: <%= number_to_currency(item.price) %></h3>
  <br>
<% end %>

<h3>Subtotal: <%= number_to_currency(@order.subtotal) %></h3>
<h3>Tax: <%= number_to_currency(@order.tax) %></h3>
<h3>Total: <%= number_to_currency(@order.total) %></h3>

