  <section>
    <div class="row">    
      <div class="col-sm-8 col-sm-offset-2">
        <div class="novelty_single">
            <h2><%= @novelty.name %></h2>
            <h3><%= @novelty.sale_message %></h3>

            <p>Price: <%= number_to_currency(@novelty.price.to_i) %></p>
            <p>Tax: <%= number_to_currency(@tax) %></p>
            <p>Total: <%= number_to_currency(@total) %></p>

            <% @novelty.images.each do |image_object| %>
              <img src="<%= image_object.url %>" alt="<%= @novelty.name %>" class="img-responsive">
            <% end %>

            <p>Description: <%= @novelty.description %></p>
            
            <h4>Categories: </h4>
            <ul>
              <% @novelty.categories.each do |category| %>
                <li><%= category.name %></li>
              <% end %>
            </ul>
            <% if user_signed_in? %>
              <h2>How many would you like to buy?</h2>

              <%= form_tag '/carted_novelties', method: :post do %>
                <div>
                  <%= label_tag :quantity %>
                  <%= text_field_tag :quantity %>
                </div>
                <%= hidden_field_tag :novelty_id, @novelty.id %>

                <%= submit_tag 'Add to Cart', class: "btn btn-default" %>
              <% end %>
            <% else %>
              <h2>If you you want to purchase this item please <%= link_to 'Sign In', '/users/sign_in' %> or <%= link_to 'Sign Up', '/users/sign_up' %></h2>
            <% end %>

            <h6>Supplier: <%= @novelty.supplier.name %></h6>
            <% if user_signed_in? && current_user.admin %>
              <%= link_to "Edit", "/novelties/#{@novelty.id}/edit", class: "btn btn-success" %>
              <%= link_to "Delete", "/novelties/#{@novelty.id}", {method: :delete, class: "btn btn-danger" }%>
            <% end %>
        </div>
      </div>
    </div>
  </section>
