  <section>
    <div class="row">    
      <div class="col-sm-8 col-sm-offset-2">
        <div class="novelty_single">
            <h2><%= @novelty.name %></h2>
            <h3><%= @novelty.sale_message %></h3>

            <p>Price: <%= number_to_currency(@novelty.price.to_i) %></p>
            <p>Tax: <%= number_to_currency(@tax) %></p>
            <p>Total: <%= number_to_currency(@total) %></p>

            <% @novelty.images.each do |image_object| %>
              <img src="<%= image_object.url %>" alt="<%= @novelty.name %>" class="img-responsive">
            <% end %>

            <p>Description: <%= @novelty.description %></p>
            
            <h2>How many would you like to buy?</h2>

            <%= form_tag '/orders', method: :post do %>
              <div>
                <%= label_tag :quantity %>
                <%= text_field_tag :quantity %>
              </div>
              <%= hidden_field_tag :novelty_id, @novelty.id %>

              <%= submit_tag 'Buy Now!', class: "btn btn-default" %>
            <% end %>

            <h6>Supplier: <%= @novelty.supplier.name %></h6>
            <%= link_to "Edit", "/novelties/#{@novelty.id}/edit", class: "btn btn-success" %>
            <%= link_to "Delete", "/novelties/#{@novelty.id}", {method: :delete, class: "btn btn-danger" }%>
        </div>
      </div>
    </div>
  </section>
