<!DOCTYPE html>
<html>
<head>
  <title>Nerd Junk-tion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="http://socializedsoftware.com/wp-content/uploads/2010/08/configuration-management-gears.png" alt="Logo & Home" class="img-responsive center-block"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><h1>Nerd Junk-tion</h1></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></span></a>
          <ul class="dropdown-menu" role="menu">

            <% if user_signed_in? && current_user.admin %>
              <li><%= link_to "New Novelty", "novelties/new" %></li>
            <% end %>
          
            <li><a href="/?sort=price">Price: Lowest to Highest</a></li>
            <li><a href="/?sort=price&sort_order=desc">Price: Highest to Lowest</a></li>
            <li><a href="/?discount=100">Discount Items</a></li>
            <li><a href="/novelties/random">Random</a></li>

            <% Category.all.each do |category| %>
              <li><a href="/?category=<%= category.name %>"><%= category.name %></a></li>
            <% end %>
            
            <li class="divider"></li>
            <% if current_user %>
              <li><%= link_to 'Sign Out', '/users/sign_out', method: :delete %></li>
              <li><%= link_to "Cart (#{@cart_count})", "/cart" %></li>
            <% else %>
              <li><%= link_to 'Sign In', '/users/sign_in' %></li>
              <li><%= link_to 'Sign Up', '/users/sign_up' %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
<div class="container">
<% flash.each do |name, message| %>
  <div class="alert alert-<%= name != "notice" ? name : "success" %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p><%= message %></p>
  </div>
  <% end %>
<%= yield %>
</div>
</body>
</html>